.description {
    display: inline-block;
}

figure {
    float: right;
    padding: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;

}

figure img {
    width: 300px;
    height: 300px;

}

article {
    margin: 10px 30px;
}

article h1 {
    padding: 20px;
}


.weatherData {
    background-color: rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 1000px;
    padding: 10px 15px;
    margin: 50px auto;


}

.weather {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 30px;
    flex-wrap: wrap;

}



.weatherForcast {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 30px;
    flex-wrap: wrap;


}

.weatherForcast span {
    display: flex;
    flex-direction: column;

}


.gallery {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;


}

.gallery__images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: auto;
}

.gallery img {
    width: 300px;
    padding: padding;
    border-radius: 12px;
}

.gallery img:hover {
    opacity: 0.7;
    zoom: 1.005;
}


.modal {
    width: 75%;
    height: 75vh;
    display: none;
    margin: 20% auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(92, 68, 7);
    /* position: relative; */

}

.modal img {
    width: 100%;
    height: 100%;
    border-radius: 12px;

}

.modal span {
    position: absolute;
    top: 0px;
    right: 0px;
    color: green;
    background-color: red;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;

}

@media only screen and (min-width:1690px) {
    .gallery__images {
        gap: 100px;
    }
}